<header class="container">
		<div class="row">
      <h1 class="col-sm-4">GAIJIN</h1>
      <nav class="col-sm-8 text-right">
        <p>1</p>
        <p>2</p>
        <p>3</p>
      </nav>
    </div>
  </header>
  <section class="jumbotron">
    <div class="container">
      <div class="row text-center">
        <h2>About me</h2>
        <h3>Visit my LinkedIn profile</h3>
        <a class="btn btn-primary" href="#" role="button">LinkedIn</a>
    	</div>
    </div>
  </section>
  <footer class="container">
    <div class="row">
      <p class="col-sm-4">FOODIe, &copy; 2016</p>
      <ul class="col-sm-8">
        <li class="col-sm-1">
          <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/twitter.svg">
        </li>
        <li class="col-sm-1">
          <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/facebook.svg">
        </li>
        <li class="col-sm-1">
          <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/instagram.svg">
        </li>
        <li class="col-sm-1">
          <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/medium.svg">
        </li>
      </ul>
    </div>
  </footer>
